body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Signika', sans-serif;
}

.desktop {
  display: block;
}

a {
  text-decoration: none;
}

nav {
  height: fit-content;
  margin: 0 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a, 
nav ul li button {
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  color: black;
}



.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

#header {
  position: fixed;
  z-index: 10;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  background-color: rgba(239, 215, 123, 1);
  transition: background-color 0.4s ease;
}

.btn-logo {
  margin: 0 20px;
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
}
.logo {
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.logo .arrow {
  position: absolute;
  margin: 8px;
  transform: rotate(45deg);
  width: 28px;
  height: 28px;
  border-left: 11px solid black;
  border-top: 11px solid black;
}
.logo .text1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 35px;
  position: absolute;
  font-size: 5px;
}
.logo .text2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 41px;
  position: absolute;
  font-size: 5px;
}
.logo .line {
  height: 1px;
  width: 36px;
  margin-top: 48px;
  position: absolute;
  background-color: black;
}
.logo-text {
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  color: black;
  margin: 0 5px;
}



.main {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

.section1 {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100%;
  background: url(assets/Logo.jpg) no-repeat center center;
  background-size: cover;
}
.blur {
  margin: 0;
  padding: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.section1 .booked {
  margin: 60px 0 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section1 .booked h2 {
  margin: 0;
  padding: 0;
}
.booked a {
  margin: 0;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border: 2px solid rgba(239, 215, 123, 1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s linear;
}
.booked a:hover {
  color: black;
  background-color: rgba(239, 215, 123, 1);
}

.section1 .short {
  margin: 60px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.section1 .short img {
  height: 150px;
  width: auto;
  border: 2px solid white;
  border-radius: 5%;
}
.section1 .short h1 {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}
.section1 .short h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}


.section2 {
  margin: 0;
  padding: 50px 0 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service {
  margin: 0;
  padding: 0;
  width: 90%;
}
.service ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.service ul li {
  display: flex;
  align-items: center;
  width: 22%;
  height: auto;
}
.service ul li div {
  height: fit-content;
  width: 100%;
}
.service ul li div img {
  width: 80%;
  height: auto;
}
.service ul li div h4{
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0;
}


.section3 {
  margin: 0;
  padding: 50px 0 20px;
  width: 100vw;
  text-align: center;
  background-color: #EFD77B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reason {
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.reason h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.reason .plain {
  padding: 0;
  width: 45vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.reason .list {
  width: fit-content;
  height: fit-content;
}
.reason .list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reason .list ul li div {
  width: max-content;
  margin: 25px 20px;
  display: flex;
  align-items: center;
}
.reason .list img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}


.section4 {
  margin: 0;
  padding: 50px 0 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section4 .visi {
  width: 70vw;
  text-align: center;
}

.section4 .misi {
  width: 70vw;
}
.section4 .misi h1 {
  text-align: center;
}
.section4 p {
  font-size: 24px;
  font-weight: 400;
}
.section4 .misi ul {
  text-align: left;
}



.footer {
  margin: 0;
  padding: 30px 0 0;
  display: block;
  background-color: #192E36;
  width: 100vw;
}

.footer ul li a:hover,
.footer ul li button:hover {
  color: #EFD77B;
}
.footer .link-list {
  margin: 0 20px;
  padding: 10px;
  width: max-content;
  overflow: none;
}
.footer .link-list h4{
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.footer .link-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .link-list ul li {
  margin: 6px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: none;
}
.footer .link-list a {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  color: #a3bac2;
}
.footer .link-list a .icon {
  margin-right: 8px;
}


.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0 30px;
}
.footer-1 .company {
  margin: 0 20px;
  padding: 0 10px;
  width: min-content;
  overflow: none;
  display: flex;
  align-items: center;
}
.footer-1 .company img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 15px;
}

.footer-1 .company h1 {
  margin: 0 0 20px 0;
  padding: 0;
  width: max-content;
  font-family: 'Barlow', sans-serif;
  font-size: 33px;
  color: white;
}
.footer-1 .company a {
  margin: 0;
  padding: 0;
  color: #a3bac2;
}
.footer-1 .company a:hover {
  color: #EFD77B;
}


.footer-2 {
  margin: 0;
  padding: 0;
}
.footer-2 h3 {
  margin: 0 30px;
  padding: 20px 0 0;
  font-size: 20px;
  font-weight: 400;
  color: white;
  border-top: 1px solid #EFD77B;
}
.footer-2 .list {
  display: flex;
  gap: 40px;
}


.footer-3 {
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F2027;
}
.footer-3 li a,
.footer-3 li button{
  color: white;
}
.footer-3 button {
  border: none;
  outline: none;
  background-color: transparent;
}
.footer-3 p {
  margin: 0 20px;
  padding: 0 10px;
  font-family: sans-serif;
  font-weight: light;
  color: #a3bac2;
  width: max-content;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.mobile {
  display: none;
}



#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.7;
}
#scrollUpButton:hover {
   background-color: #333; 
}



@media(max-width: 767px) {
  .mobile {
    display: block;
  }
  
  #header {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #header div.btn-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
  }
  #header .logo-text{
    margin: 0 0 0 15px;
  }
  
  #menu {
    margin: 0 15px 0 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
  }
  #menu #bars {
    margin: 0;
    padding: 0;
    height: 10px;
    width: 25px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }
  #menu #xmark {
    margin: 0;
    padding: 0;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 25px;
  }
  
  #navbar {
    width: 90%;
    height: 0;
    overflow: hidden;
    transition: height 5s;
    border-top: 1px solid white;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  #navbar ul li {
    width: 100%;
    text-align: center;
  }
  #navbar ul li a {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .section1{
    height: fit-content;
  }
  .section1 .blur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .booked {
    padding-bottom: 100px;
    order: 2;
  }
  .short {
    text-align: center;
    padding-top: 60px;
    order: 1;
  }
  .short h1 {
    font-size: 26px;
  }
  
  .section2 .service {
    padding: 50px 0 30px;
  }
  .section2 .service ul {
    gap: 35px;
  }
  .section2 .service ul li {
    width: 60%;
  }
  .section2 .service ul li h4 {
    margin: 0;
    font-size: 20px;
  }
  
  .section3 .reason {
    flex-direction: column;
    gap: 20px;
  }
  .section3 .reason .plain {
    margin: 20px 0 10px;
    width: 85%;
    text-align: left;
  }
  .section3 .reason .plain h4 {
    font-size: 20px;
    line-height: 30px;
  }
  
  .section4 .visi {
    width: 85%;
  }
  .section4 .misi {
    width: 85%;
    margin-left: -20px;
  }
  .section4 .visi p,
  .section4 .misi ul li p {
    font-size: 20px;
    line-height: 30px;
  }
  
  .footer {
    margin: 0;
    padding: 0;
  }
  .footer-1 {
    margin: 0 20px;
    padding: 0;
    width: calc(100% - 40px);
    align-items: center;
    gap: 10px;
  }
  .footer-1 .company {
    margin: 20px 0;
    padding: 0;
    width: 70%;
    display: flex;
    justify-content: left;
    gap: 10px;
  }
  .footer-1 .company img {
    margin: 0;
    padding: 0;
    width: 30px;
    height: auto;
    border-radius: 5%;
    border: 2px solid white;
  }
  .footer-1 .company div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .footer-1 .company div h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
  }
  .footer-1 .company div a {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 6px;
  }
  .footer-1 .link-list {
    margin: 0;
    padding: 0;
    width: 30%;
  }
  .footer-1 .link-list h4 {
    font-size: 8px;
    margin: 0;
    padding: 0;
  }
  .footer-1 .link-list ul li {
    margin: 2px 0 0;
    padding: 0;
  }
  .footer-1 .link-list a {
    font-size: 6px;
  }
  .footer-1 .link-list a .icon {
    margin-right: 2px;
  }
  
  .footer-2 {
    padding: 10px 20px;
    width: calc(100% - 40px);
  }
  .footer-2 h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 10px;
  }
  .footer-2 .list {
    flex-direction: row;
    gap: 20px;
  }
  .footer-2 .link-list {
    margin: 0;
    padding: 0;
    width: max-content;
  }
  .footer-2 .link-list h4 {
    font-size: 8px;
  }
  .footer-2 .link-list a {
    margin: 0;
    padding: 0;
    font-size: 6px;
  }
  
  .footer-3 {
    padding: 2px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-3 nav {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
  }
  .footer-3 nav ul,
  .footer-3 nav ul li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-3 a, 
  .footer-3 button {
    font-size: 6px;
    margin: 0;
    padding: 1px 2px;
  }
  .footer-3 p {
    margin: 0;
    padding: 0;
    font-size: 5px;
  }
  
  #scrollUpButton {
    bottom: 40px;
  }
  
  .desktop {
    display: none;
  }
}